@using Jmelosegui.Mvc.GoogleMap
@{
    ViewBag.Title = "E-mechanik";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj3--uLCLX58Q-LFxJisocb1z97cerQjc "></script>

<div class="jumbotron">
    <h1>E-mechanik</h1>
    <p class="lead">Najlepsza wyszukiwarka somochodowych usług serwisowych</p>
</div>

<div class="row">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        Url = Url.Action("GetCategoryByFilter", new { Controller = "AvailableServiceCategories" }),
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Categories"
    }))
    {
        <input type="text" name="search" />
        <input type="submit" />
    }
    <div id="Categories">
        @Html.Action("GetCategoryByFilter", new { Controller = "AvailableServiceCategories" })
    </div>
</div>
