
<div class="page-header">
    <p style="float:right; padding-right:50px; color:whitesmoke; font-size:large; margin-top:30px;" >Wyszukiwarka somochodowych usług serwisowych</p>

</div>

<div class="custom-container">
    @using (Ajax.BeginForm(new AjaxOptions
    {
        Url = Url.Action("GetCategoryByFilter", new { Controller = "AvailableServiceCategories" }),
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Categories"
    }))
    {
        <hr style="height:1px; background-color:rgba(0,0,0,0.5); margin-top:30px; position:relative" />

        <div style="display:flex; margin-right:30px; margin-left:30px; margin-top:15px;" class="input-group-lg">
            <input type="text" name="search" placeholder="Szukaj..." class="form-control " style="height:55px;" />
            <button type="submit" class="btn-default btn"><img src="~/Content/Images/Lupa.png" style="height:40px;width:50px;image-rendering: optimizeQuality"></button>
        </div>
       <hr style="height:1px; background-color:rgba(0,0,0,0.5); margin-top:30px; position:relative" />

    }

    <div id="Categories">

        @Html.Action("GetCategoryByFilter", new { Controller = "AvailableServiceCategories" })
    </div>
</div>
<div style="margin-top:30px;" class="customHr"></div>
