@model IEnumerable<E_Mechanik_Web.Models.ServiceCategory>
@{
    /**/

    ViewBag.Title = "E-mechanik";
}

<div class="jumbotron">
    <h1>E-mechanik</h1>
    <p class="lead">Najlepsza wyszukiwarka somochodowych usług serwisowych</p>
</div>


<div class="row">
    <form method="get">
        <input type="text" name="search" />
        <input type="submit" />
    </form>
    @foreach (var category in Model)
    {
        <div class="col-md-4">
            <h2>@category.Name</h2>
            <ul>
                @foreach (var product in category.Services)
                {
                    <li>@product.Name</li>
                }
            </ul>
        </div>
    }
</div>