@model E_Mechanik_Web.Models.AvailableServiceCategory


<hr />
<div class="CustomHeader">
    <h2>
        @Model.Name
    </h2>
    <h4>Dostępne usługi: </h4>
</div>
<div>

    <div class="allServicesFromCategoryBox">


        @foreach (var item in Model.Services)
        {
            <div class="singleServiceBox">
                <div class="serviceBoxTitle">
                    @Html.ActionLink(@item.Name, "GetServicesByName", new { Controller = "Services", name = item.Name }, new { @class = "LinkColor" })
                </div>
               
            </div>

        }
    </div>
</div>
<br />