@model IEnumerable<E_Mechanik_Web.Models.AvailableServiceCategory>

@{
    var list = new List<string>();
    int i = 0;
}

<button class="left-paddle paddle" id="left">
    <
</button>
<button class="right-paddle paddle">
    >
</button>

<br />
<br />
@foreach (var category in Model)
{

    list = new List<string>();
    <div class="block">
        <div class="center-image"><img src="~/Content/Images/logo.png" width="30" height="30" /></div>
        <div style="text-align:center;">
            <h4>@Html.ActionLink(@category.Name, "GetServicesByCategoryName", new { Controller = "AvailableServiceCategories", name = category.Name })</h4>
        </div>
        <div class="block-in-block">
            <ul>

                @foreach (var product in category.Services)
                {
                    if (!list.Contains(product.Name))
                    {
                        list.Add(product.Name);
                        <li class="line">
                            @Html.ActionLink(@product.Name, "GetServicesByName", new { Controller = "Services", name = product.Name })
                        </li>

                    }
                }

            </ul>
        </div>
    </div>
}




