@model IEnumerable<E_Mechanik_Web.Models.AvailableServiceCategory>

@{
    var list = new List<string>();
    int i = 0;

}

@foreach (var category in Model)
{
    i = 0;
    list = new List<string>();
<div class="block" >
    <div class="block-for-block-title">
        <h4  class="block-title"> @Html.ActionLink(@category.Name, "GetServicesByCategoryName", new { Controller = "AvailableServiceCategories", name = category.Name })</h4>
    </div>
    <div class="block-under-title">
        <div class="block-in-block">
            <ul>

                @foreach (var product in category.Services)
                {
                    if (!list.Contains(product.Name))
                    {
                        list.Add(product.Name);
                        <li class="line">
                            @Html.ActionLink(@product.Name, "GetServicesByName", new { Controller = "Services", name = product.Name })
                        </li>
                        i = 1;
                    }
                }
                @if (i == 0)
                {
                    <li class="line">
                        Brak usług
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

}




