@model IEnumerable<E_Mechanik_Web.Models.AvailableServiceCategory>


<hr />
<h2 class="CustomHeaderS">
    Dostępne kategorie:
</h2>

<div>

    <div class="allServicesFromCategoryBox">
        @foreach (var item in Model)
        {
            <div class="singleServiceBox">


                @Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { @class = "LinkColor" })

                @if (User.IsInRole("Admin"))
                {
                    <div style="float:right; margin-right:20px;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "LinkColor" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "LinkColor" })
                    </div>
                }


            </div>
        }
    </div>

    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create", new { @class = "LinkColor" })
        </p>
    }

</div>
