@model E_Mechanik_Web.Models.ServiceCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceCategory</h4>
    <hr />
    <h1>

        @Html.DisplayFor(model => model.Name)

    </h1>

    @foreach (var item in Model.Services)
    {
        <dl>
            @Html.ActionLink(@item.Name, "GetServicesByName", new { Controller = "Services", name = item.Name })
        </dl>
    }


</div>

