body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}
.custom-text-form{
    width:110px;
}
.Closer {
    margin-top: -20px;
}
.CloserM{
    margin-top: -40px;
}
.TextFormat {
    margin-right: 15px;
    float: right;
    font-size: small;
}
.CheckBoxFormat{
    float:right;
    margin-right:15px;
   
}
.topMargin {
    margin-top: 30px;
}

.rightMargin {
    margin-right: 10px;
    padding-top: 25px;
}
.custom-input-form{
    border: 1px solid rgba(2,0,0,0.2);
    border-radius:5px;
    margin-left:10px;
    width: 65%;
    height:35px;
    padding-left:10px;
    background-color:whitesmoke;
}
:focus {
    border-radius: 5px;
    /*//box-shadow: 0 0 0 2px rgb(82, 190, 220);*/
}
.resize {
    max-width: 100px;
    width: auto;
    height: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.inner {
    width: 500px;
    margin: 0 auto;
    min-height: 400px;
}

.box-main {
    display: flex;
    min-width:900px;
}

.box-left {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: 10% 10%;
    min-width: 250px;
    float: left;
}

.box-left-register {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1920px;
    min-width: 200px;
    margin: 10% 22%;
}
.test{
    min-width:100px;
    float:left;
    display:inline-block;
}
.box-right {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: 10% 10%;
    min-width: 250px;
    float: right;
}

.box-content-layout {
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom:50px;
}

.box-footer-layout {
    padding-top: 4px;
    position: page;
    bottom: 0;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    padding-bottom: 1px;
    color:rgba(0,0,0,0.85);
}




.TextBoxFor-Limit {
    max-width: 400px;
}

.custom-container {
    display: block;
    grid-template-columns: auto;
    grid-template-rows: 100vh;
}

.block {
    width: 250px;
    height: 250px;
    margin: 20px 10px 20px 10px;
    display: inline-block;
    background: rgba(0,0,0,0);
}

.block-for-block-title {
    background-color: rgba(34,34,34,0.9);
    height: 70px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    display: block;
    text-align: center;
    padding-top: 7px;
}

.block-title a {
    width: 80%;
    color: #D8D8D8;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.block-under-title {
    border: 1px solid rgba(34,34,34,0.41);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 180px;
    background-color: rgba(34,34,34,0.04);
}

.block-in-block {
    margin-top: 10px;
    width: 100%;
    height: 88%;
    overflow-y: auto;
    border-top: 1px solid rgba(34,34,34,0.2);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: 1px solid rgba(34,34,34,0.2);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    top: 0;
    background-color: whitesmoke;
    scrollbar-arrow-color: fuchsia;
}

a {
    color: rgb(34, 34, 34);
}

body {
    margin: 3em;
}

.hidden {
    display: none;
}

.print {
    margin: auto;
    max-width: 500px;
}

span {
    display: inline-block;
    width: 100px;
}

.layout-button {
    border-left: 1px dashed rgb(57, 57, 57);
    border-right: 1px dashed rgb(57, 57, 57);
}

.layout-button-last {

    border-left: 1px dashed rgb(57, 57, 57);
    border-right: 1px dashed rgb(57, 57, 57);
}

.layout-button-logo {
    margin-right: -25px;
    margin-top: -8px;
    margin-bottom: -8px
}

/////////////
::-webkit-scrollbar-button {
    height: 13px;
    background-color: fuchsia;
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar {
    padding-bottom: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(34,34,34,0.8);
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(34,34,34,0.5);
        border-radius: 10px;
    }

::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    margin-top: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 30px;
}
.allServicesFromCategoryBox{
 
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

  
.singleServiceBox {
    width: 899px;
    height: 80px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgba(0,0,0, 0.75);
    font-size: medium;
    font-weight: 700;
    vertical-align: middle;
    margin-top:1px;
    padding-left:50px;
    padding-top:30px;
    border-radius:5px;
   
}
.LinkColor {
    position: absolute;
    color: rgba(255,255,255, 0.85);
}
.CustomHeader {
    background-color: rgba(0,0,0,0.85);
    height: 110px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: snow;
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid white;
}
.CustomHeaderS {
    background-color: rgba(0,0,0,0.85);
    height: 90px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: snow;
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 5px;
    margin-bottom: 0px;
    border: 1px solid white;
}
.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}
.page-header {
    opacity: 0.9;

    background-image: url("Images/header2.png");
    height: 200px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.fillProfileBox{

    width:60%;
   
    text-align:right;
}
.spaceBox{
    width:20%;
    height:100%;
}
.custom-input-form-2 {
   width:350px;
   margin-left:20px;
}
.CloserS {
    margin-top: -5px;
}
.noDecoration {
    color: snow;
    text-decoration:none;
}
