body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 330px;

}
.topMargin{
    margin-top:30px;
}
.rightMargin {
    margin-right: 10px;
    padding-top: 25px;
}
.resize {
    max-width: 100px;
    width: auto;
    height: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.inner {
    width: 500px;
    margin: 0 auto;
    min-height:400px;
}

.box-main {
    display: flex;
   
}
.box-left {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: 10% 10%;
    min-width: 200px;
    float: left;
}

.box-left-register {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width:1920px;
    min-width:200px;
    margin: 10% 22%;
}

.box-right {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin: 10% 10%;
    min-width: 200px;
    float: right;
}

.box-content-layout {
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 0;

}
.box-footer-layout {
    padding-top: 4px;
    position: page;
    bottom: 0;
    text-align: center;
    background-color: #fcfcfc;
    padding-bottom: 1px;
}
.top-logo-layout{
    width:100%;
    height:50px;
}
.layout-logo-image {
    width: 100%;
    height: 50px;
}
.layout-logo-left{
    float:left;
    width:50px;
    height:100%;
}
.layout-logo-right{
    float:left;
    width:auto;
}
.main-box-register {
    margin-top:50px;
    align-content:center;
    width:auto;
    height:auto;
}
.center-box-register{
    text-align:center;
}
.custom-container {
    display:block;
    grid-template-columns:auto;
    grid-template-rows: 100vh;
}
.block {
    width: 250px;
    height: 250px;
    margin: 20px 10px 20px 10px;
    float: left;
    display: inline-block;
    background: #F0F0F0;
    padding-top: 30px;
    border-radius:50%;
    
}
.block-in-block {
    width: 100%;
    height: 60%;
    overflow-y: hidden;
}
a {
    color: rgba(0, 0, 0, 1);
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}












body {
    margin: 3em;
}



.menu-wrapper {
    position: relative;
    max-width: 500px;
    height: 300px;
    margin: 1em auto;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu {
    height: 300px;
    background: #f3f3f3;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    .item
{
    display:block;
    width: 100px;
    height: 100%;
    outline: 1px dotted gray;
    padding: 1em;
}



.paddle {

    width: 3em;
}

.left-paddle {
    top: 0;
}

.right-paddle {
    bottom: 0;
}

.hidden {
    display: none;
}

.print {
    margin: auto;
    max-width: 500px;
}
span
{
    display: inline-block;
    width: 100px;
}
