@model E_Mechanik_Web.Models.Service

<hr style="height:1px; background-color:rgba(0,0,0,0.5);" />
<div class="CustomHeader" style="height:85px">
    <h2>Usuwanie usługi</h2>
</div>

<div class="allServicesFromCategoryBox">

    <div class="singleServiceBox" style="padding-left:15px; margin-top:0px" ;>
        <h3 class="LinkColor" style="margin-top:0px;">Czy na pewno chcesz usunąć @Model.Name ze swoich usług?</h3>
    </div>
    <div style="height:60px; background-color: rgba(0,0,0,0.65); margin-top:1px; border:1px solid rgba(0,0,0,0.5); border-radius:5px">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions" style="margin-left:360px; margin-top:10px;">
                @Html.ActionLink("Wróć do listy", "MyServices", null, new { @class = "btn btn-default", style = "border:2px solid rgba(0,0,0,0.2);" })
                <input type="submit" value="Tak, usuń" class="btn btn-default" style="border:2px solid rgba(0,0,0,0.2)" />

            </div>

        }
    </div>

</div>

<hr style="height:1px; background-color:rgba(0,0,0,0.5);" />