@model IEnumerable<E_Mechanik_Web.Models.Service>


<hr style="height:1px; background-color:rgba(0,0,0,0.5);" />
<div class="CustomHeader" style="height:90px">
    <h2>Dostępne usługi: </h2>
</div>

<div class="allServicesFromCategoryBox">

    @foreach (var item in Model)
    {
        <div class="singleServiceBox">
            @Html.ActionLink(@item.Name, "GetServicesByName", new { Controller = "Services", name = item.Name }, new { @class = "LinkColor" })

        </div>


    }

 </div>
<hr style="height:1px; background-color:rgba(0,0,0,0.5);" />